#Container{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Main{
    width: 100%;
    max-width: 800px;
    height: fit-content;
    padding: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

input.Sub2 {
    display: none;
}

label.Sub3 {
    display: block;
}

input.Sub2 + div.Sub  {
    background: rgba(var(--clr-second));
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
}

input.Sub2 + div.Sub label {
    padding: 10px;
    cursor: pointer;
}

input:checked.Sub2 + div.Sub {
    background: rgba(var(--clr-second));
    border: 1px solid white;
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.25);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div#Subs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

div.Sub{
    width: 49%;
    border: 1px solid rgba(var(--clr-text), 0.4);
}

                    /*  InfoDiv  */
#InfoDiv{
    width: 65%;
    height: fit-content;
    padding: 32px;
    background-color: rgba(74, 75, 77, 0.2);
    border: 1px solid;
    border-radius: 24px 0px 0px 24px;
    border-image: radial-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
    box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, .25);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    font-size: 22px;
}

#GymPic{
    width: 120px;
    height: 120px;
    background-color: rgba(var(--clr-text));
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Upload{
    width: 80%;
    height: 80%;
}

#head{
    display: flex;
    justify-content: space-between;
}

#Header{
    font-family: "Avenir Heavy";
    font-size: 32px;
}

#Sm{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Lg{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Lg{
    width: 100%;
}

input{
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, .1);
    box-sizing:border-box;
    transition: 0.3s;
}

select.Lginput{
    height: 40px;
    width: 100%;
    background-color: rgba(var(--clr-second));
    border: 1px solid rgba(var(--clr-text), 0.4);
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Avenir regular";
    font-size: 20px;
    color: rgba(var(--clr-text));
    padding-right: 8px;
    box-sizing:border-box;
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

select{
    height: 40px;
    width: 100%;
    background-color: rgba(var(--clr-second));
    border: 0px solid;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Avenir regular";
    color: rgba(var(--clr-text));
    font-size: 20px;
    padding-right: 8px;
    box-sizing:border-box;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, .1);
    transition: 0.3s;

}

option{
    font-family: "Avenir regular";
    color: rgba(var(--clr-text));
}

input[type="radio"], div.Sub, label.Sub3{
    transition: 0.3s;
    box-sizing: border-box;
}

label.Sub3:hover{
    background-color: rgba(var(--clr-second), 0.8);
    border-radius: 8px;
}

input:focus{
    outline: none !important;
    background-color: rgba(var(--clr-main));
}
select:focus{
    outline: none !important;
}

::placeholder{
    color: rgba(var(--clr-text));
    opacity: 0.3;
    font-family: "Avenir regular";
    letter-spacing: 0em;
}

button{
    width:100%;
    height:64px;
    font-size:32px;
    padding-right:16px;
    color: rgba(var(--clr-text));
    font-family: 'Avenir Heavy';
    background-color:rgba(var(--clr-cta));
    border:0px solid;
    cursor:pointer;
    border-radius:8px ;
    margin-top: 32px;
    transition: 0.2s;

}

select:hover{
    background-color: rgba(var(--clr-second));
    cursor: pointer;
}

button:hover{
    background-color: rgba(var(--clr-ctaHover));
}

                    /*  SidePhoto  */
#SidePhoto{
    width: 35%;
    border-radius: 0px 24px 24px 0px;
    box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, .25);
    background-image: url(../../img/Dummbel.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 1;
    padding: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

#Back{
    width: 52px;
    height: 52px;
    background-color: rgb(33, 33, 33, 0.8);
    border-radius: 100px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, .5);
}

#Pre{
    height: 52px;
}

                    /*  Menu  */
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#landmark{
    font-family: 'Avenir Black';
    font-size: 32px;
}

                        /*  Menu / Profile  */
#profile{
    display: flex;
    flex-direction: row;
    line-height: 20px;
    align-items: center;
    margin: 32px;
}

#pic{
    width: 56px;
    height: 56px;
    border-radius: 150px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("../../img/Fares.jpg");
    margin-left: 8px;
}

#name{
    color: rgba(var(--clr-text));
    font-family: 'avenir regular';
    font-size: 16px;
}

#logout{
    color: rgba(var(--clr-text));
    font-family: 'avenir regular';
    opacity: 0.4;
    font-size: 16px;
}

#logout:hover { 
    opacity: 0.5; 
}

                    /*  Links  */
a{
    color: rgba(var(--clr-text));
}

a:link { 
    text-decoration: none;
}

a:visited { 
    text-decoration: none;
}

a:hover { 
    text-decoration: none;
}

a:active { 
    text-decoration: none;
}

.cash{
    height: 40px;
    width: 85%;
    background-color: rgba(var(--clr-second));
    border: 0px solid;
    border-radius: 0px 8px 8px 0px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Avenir regular";
    font-size: 20px;
    color: rgba(var(--clr-text));
    padding-right: 8px;
    box-sizing:border-box;
    border: 1px solid rgba(var(--clr-text), 0.4);

}

#Sympol{
    height: 40px;
    width: 15%;
    background-color: rgba(var(--clr-second));
    border-radius: 8px 0px 0px 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: "Avenir regular";
    font-size: 20px;
    color: rgba(var(--clr-text));
    padding-right: 8px;
    box-sizing:border-box;
    border: 1px solid rgba(var(--clr-text), 0.4);

}

#payment-much{
    display: flex;
}

#py{
    display: flex;
    flex-direction: column;
    
}

.Sympol-opt, #Sympol{
    color: rgba(var(--clr-text));
}